<html>
  <head>
    <title>StreetEasy</title>
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <h1><%= @title %></h1>
    <ul>
      <% for @listing in @listings %>
        <li>
            <div class="image-container">
                <img src="<%=@listing[:imageSrc] %>"/>
            </div>
            <div class="address-container">
                <p><%=@listing[:address] %><br><span class="location"><%=@listing[:location] %></span></p>
            </div>
            <div class="button-container">
                 <button>
                    add
                </button>
            </div>

        </li>
       <% end %>
    </ul>
  </body>
  <script src="./js/jquery-3.1.1.min.js"></script>
  <script src="./js/app.js"></script>
</html>